section {
  display: grid;
  align-content: center;
  place-items: center;
  min-height: 105vh;
  min-width: 100vw;
}

span {
  color: white;
}

.sectionBackground {
  background-image: linear-gradient(
    180deg,
    hsl(253deg 31% 20%) 0%,
    hsl(252deg 30% 20%) 3%,
    hsl(251deg 29% 19%) 6%,
    hsl(250deg 28% 19%) 9%,
    hsl(249deg 26% 18%) 12%,
    hsl(248deg 25% 18%) 14%,
    hsl(245deg 23% 17%) 17%,
    hsl(243deg 21% 16%) 20%,
    hsl(239deg 19% 16%) 23%,
    hsl(234deg 18% 15%) 29%,
    hsl(227deg 17% 14%) 40%,
    hsl(216deg 16% 13%) 100%
  );
}

.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.showLeft {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
  transform: translateX(0);
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
}

.showRight {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
  transform: translateX(0);
}

.border {
  right: calc(50% + 318px - 3px);
  height: 105vh;
  position: absolute !important;
  border: 2px solid #444a52 !important;
  z-index: 50;
}

.borderMiddle {
  right: 50%;
  height: 300px;
  position: absolute !important;
  border: 2px solid #444a52 !important;
  z-index: 50;
  margin-top: -30px;
}

.borderLine {
  border-top: 1px solid #3c3d40;
  margin: 15px 15px 0px 15px;
}

.optionCard {
  cursor: pointer;
  min-width: 300px;
  min-height: 350px;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
    0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
  background: linear-gradient(#24292f, #24292f) padding-box, linear-gradient(to right, #354b4e, #393250) border-box;
}

.optionCard:hover {
  transform: translateY(-3px) translateX(3px);
  transition: all 0.3s;
}

.boxCard {
  cursor: pointer;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
  margin: 0px 5px 0px 5px;
  border: 4px solid transparent;
  background: linear-gradient(#24292f, #24292f);
  box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
    0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}

.boxCard:hover {
  transform: translateY(-3px) translateX(3px);
  transition: all 0.3s;
}

.experienceCard {
  min-width: 800px;
  min-height: 350px;
  margin-left: 100px;
  padding: 30px;
}

.timeline {
  position: relative;
  min-height: 315px;
  margin-top: -140px;
  margin-bottom: -140px;
}

.workExperienceTimelinePre {
  position: relative;
  min-height: 250px;
  margin-top: -140px;
  margin-bottom: -140px;
}

.workExperienceTimelinePost {
  position: relative;
  min-height: 100px;
  margin-top: 230px;
  margin-bottom: -140px;
}

.workExperienceTimeline {
  position: relative;
  min-height: 1700px;
  margin-top: -140px;
  margin-bottom: 69px;
}

.timelineHorizontal {
  position: relative;
  min-height: 150px;
  margin-bottom: -150px;
}

.line {
  position: absolute;
  z-index: 150;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: #fff;
}

.workExperiencePreLine {
  position: absolute;
  z-index: 150;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -43px;
  background-color: #fff;
}

.workExperiencePostLine {
  position: absolute;
  z-index: 150;
  left: calc(50% - 1px);
  width: 2px;
  top: -200px;
  bottom: -43px;
  background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 100%) 0%,
    hsl(125deg 35% 93%) 4%,
    hsl(125deg 36% 86%) 8%,
    hsl(125deg 38% 78%) 11%,
    hsl(126deg 40% 69%) 14%,
    hsl(127deg 44% 57%) 17%,
    hsl(136deg 41% 51%) 21%,
    hsl(156deg 29% 54%) 25%,
    hsl(195deg 24% 58%) 32%,
    hsl(229deg 35% 66%) 43%,
    hsl(252deg 56% 70%) 61%,
    hsl(262deg 82% 71%) 100%
  );
}

.workExperienceLine {
  position: absolute;
  z-index: 150;
  left: 25%;
  width: 2px;
  top: 180px;
  bottom: 100px;
  background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 100%) 0%,
    hsl(125deg 35% 93%) 4%,
    hsl(125deg 36% 86%) 8%,
    hsl(125deg 38% 78%) 11%,
    hsl(126deg 40% 69%) 14%,
    hsl(127deg 44% 57%) 17%,
    hsl(136deg 41% 51%) 21%,
    hsl(156deg 29% 54%) 25%,
    hsl(195deg 24% 58%) 32%,
    hsl(229deg 35% 66%) 43%,
    hsl(252deg 56% 70%) 61%,
    hsl(262deg 82% 71%) 100%
  );
}

.preLineHorizontal {
  position: absolute;
  z-index: 150;
  left: 25%;
  width: 25%;
  max-height: 2px;
  top: 180px;
  bottom: -50px;
  background-color: #fff;
}

.postLineHorizontal {
  position: absolute;
  z-index: 150;
  left: 25%;
  width: 25%;
  max-height: 2px;
  top: 30px;
  bottom: -50px;
  background-color: #a67af2;
}

.line::before,
.line::after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.workExperiencePreLine::before {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.workExperiencePostLine::after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 185px;
}

.line::after,
.workExperiencePostLine::after {
  bottom: 0;
}

.workExperience::before {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  left: 25%;
  transform: translateX(-50%);
  margin-top: -235px;
}

/* N-th Child */

.boxCard:nth-child(2) {
  transition-delay: 200ms;
}
.boxCard:nth-child(3) {
  transition-delay: 400ms;
}
.boxCard:nth-child(4) {
  transition-delay: 600ms;
}
.boxCard:nth-child(5) {
  transition-delay: 800ms;
}

/* Media */

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
